In [2]:
import numpy as np
import pandas as pd

# Домашняя работа №3

№1 Привести различные способы создания объектов типа Series

1. Списки Python или массивы Numpy
2. Скалярные значения из Python
3. Словари из Python

In [81]:
#1
a1 = np.array([0.1, 0.2, 0.3, 0.4])
s1 = pd.Series(a1)
print(s1, "\n")
a2 = [0.1, 0.2, 0.3, 0.4]
s2 = pd.Series(a2)
print(s2, "\n")
#2
s3 = pd.Series(1, index = (0, 1 ,2))
print(s3, "\n")
#3
d1 = {'key1' : 1,
      'key2' : 2,
      'key3' : 3
     }
s4 = pd.Series(d1)
print(s4, "\n")

0    0.1
1    0.2
2    0.3
3    0.4
dtype: float64

0    0.1
1    0.2
2    0.3
3    0.4
dtype: float64

0    1
1    1
2    1
dtype: int64

key1    1
key2    2
key3    3
dtype: int64

№2 Привести все способы создания объектов типа DataFrame

1. Через объекты Series
2. Списки словарей
3. Словари объектов Series
4. Двумерный массив Numpy
5. Структурированный массив Numpy

In [21]:
#1
names = pd.Series(['Adele', 'Alice', 'Bob'])

df1 = pd.DataFrame(data=names)

print(df1)

       0
0  Adele
1  Alice
2    Bob

In [24]:
#2
df2 = pd.DataFrame([{'Data1': 1, 'Data2': 4}, {'Data1': 2, 'Data2': 5}, {'Data1': 3, 'Data2': 6}])

print(df2)

   Data1  Data2
0      1      4
1      2      5
2      3      6

In [27]:
#3
df3 = pd.DataFrame({'Player': pd.Series(["Bob", "Andrew", "John"]), 'Score': pd.Series([4, 5, 6])})
print(df3)

   Player  Score
0     Bob      4
1  Andrew      5
2    John      6

In [29]:
#4
df4 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])
print(df4)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [38]:
#5
x = np.array([('Rex', 9, 81.0), ('Fido', 3, 27.0)],
             dtype=[('name', 'U10'), ('age', 'i4'), ('weight', 'f4')])
df5 = pd.DataFrame(x)
print(df5)

   name  age  weight
0   Rex    9    81.0
1  Fido    3    27.0

#3. Объедините два объекта Series с неодинакомым множеством ключей(индексов) так, чтобы вместо NaN было установлено значение 1

In [40]:
pop = pd.Series({
    'city_1' : 1001,
    'city_2' : 1002,
    'city_3' : 1003,
    'city_41' : 1004,
    'city_51' : 1005
})
area = pd.Series({
    'city_1' : 9991,
    'city_2' : 9992,
    'city_3' : 9993,
    'city_42' : 9994,
    'city_52' : 9995 
})

df = pd.DataFrame({'area1' : area, 'pop1' : pop})
df.fillna(1, inplace=True)

print(df)

          area1    pop1
city_1   9991.0  1001.0
city_2   9992.0  1002.0
city_3   9993.0  1003.0
city_41     1.0  1004.0
city_42  9994.0     1.0
city_51     1.0  1005.0
city_52  9995.0     1.0

#4. Переписать пример с транслированием для DataFrame так, чтобы вычитание происходило не по строкам, а по столбцам

In [60]:
rng = np.random.default_rng(1)

A = rng.integers(0, 10, (3, 4))

df = pd.DataFrame(A, columns=['a', 'b', 'c', 'd'])
print(df)
print()
print(type(df.iloc[0]))
print(df.sub(df.iloc[:, 0], axis=0))
print()
print(df.iloc[::2, 0])
print(df.sub(df.iloc[::2, 0], axis=0)) ## Происходит согласование индексов
# на месте отсутствующих индексов получились NaN

   a  b  c  d
0  4  5  7  9
1  0  1  8  9
2  2  3  8  4

<class 'pandas.core.series.Series'>
   a  b  c  d
0  0  1  3  5
1  0  1  8  9
2  0  1  6  2

0    4
2    2
Name: a, dtype: int64
     a    b    c    d
0  0.0  1.0  3.0  5.0
1  NaN  NaN  NaN  NaN
2  0.0  1.0  6.0  2.0

#5. На примере Series, DataFrame продемонстрируйте использование методов ffill(), bfill()

In [78]:
#Series .ffill
n1 = pd.Series({
    0.1 : 5e19,
    0.2 : np.nan,
    0.3 : 4e19,
    0.5 : 6e19
              })
print(n1, "\n")
print(n1.ffill())

0.1    5.000000e+19
0.2             NaN
0.3    4.000000e+19
0.5    6.000000e+19
dtype: float64

0.1    5.000000e+19
0.2    5.000000e+19
0.3    4.000000e+19
0.5    6.000000e+19
dtype: float64

In [79]:
#Series .bfill
n2 = pd.Series({
    0.1 : 5e19,
    0.2 : np.nan,
    0.3 : 4e19,
    0.5 : 6e19
              })
print(n2, "\n")
print(n2.bfill())

0.1    5.000000e+19
0.2             NaN
0.3    4.000000e+19
0.5    6.000000e+19
dtype: float64

0.1    5.000000e+19
0.2    4.000000e+19
0.3    4.000000e+19
0.5    6.000000e+19
dtype: float64

In [76]:
#DataFrame .ffill
dfn = pd.DataFrame({'n1': n1, 'n2': n2})
print(dfn, "\n")
print(dfn.ffill())

               n1            n2
0.1  5.000000e+19  5.000000e+19
0.2           NaN           NaN
0.3  4.000000e+19  4.000000e+19
0.5  6.000000e+19  6.000000e+19

               n1            n2
0.1  5.000000e+19  5.000000e+19
0.2  5.000000e+19  5.000000e+19
0.3  4.000000e+19  4.000000e+19
0.5  6.000000e+19  6.000000e+19

In [77]:
#DataFrame .bfill
dfn = pd.DataFrame({'n1': n1, 'n2': n2})
print(dfn, "\n")
print(dfn.bfill())

               n1            n2
0.1  5.000000e+19  5.000000e+19
0.2           NaN           NaN
0.3  4.000000e+19  4.000000e+19
0.5  6.000000e+19  6.000000e+19

               n1            n2
0.1  5.000000e+19  5.000000e+19
0.2  4.000000e+19  4.000000e+19
0.3  4.000000e+19  4.000000e+19
0.5  6.000000e+19  6.000000e+19